footer{
	border:none !important;
	position:fixed;
	bottom:0px;
	width:100%;
	height:10%;
	background-color: rgba(255,255,255,0.1);//transparent !important;
	border-top-left-radius: 21px;
    border-top-right-radius: 21px;

}
#steam-logo{
	position:absolute;
	left:50%;
	clear:both;
	width:15vh;
	margin-left:-7.5vh;
	bottom:3vh;
	@media(max-width:539px){
		
	}
}
